*{
  box-sizing: border-box;
  margin: 0;
}
:root {
  font-family: Lexend;
  color-scheme: light dark;
  color: #ffff;
  background-color: #130724;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  width: 100%;
  height: 100%;
}

.section {
  width: 100%;
  min-height: 100dvh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.purple {
  color: #ad64f7;
}

.caption {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(90deg, #ffd9d9, #cba3ff);
  background-clip: text;
  -webkit-background-clip: text;
  font: 700 1rem Arial, sans-serif;
  letter-spacing: .281rem;
  text-transform: uppercase;
}

.gradient-button {
  background: linear-gradient(90deg, #4217ba, #cba3ff);
  text-align: center;
  transition: opacity .2s ease-in;
}